{% extends template.html %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
<script src="{{ reverse_url('mpl') }}"></script>
<script>
    function ondownload(figure, format) {
        window.open('download.' + format + '/' + {{ fig_num }}, '_blank');
    };

    $(document).ready(function() {
        var websocket_type = mpl.get_websocket_type();
        var ws_protocol = (window.location.protocol === "https:") ? "wss" : "ws";
        var websocket = new websocket_type(ws_protocol + "://{{ host }}{{ reverse_url('ws', fig_num) }}");
        var fig = new mpl.figure(
            {{ fig_num }},
            websocket,
            ondownload,
            $('div#figure')
        );
    });
</script>
{% end %}
{% block body %}
<div id=figure></div>
{% end %}
